.footer {
  height: 80px;
  .inner {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #222;
    color: #fff;
    text-shadow: 1px 1px 0px #2f4858;
    copy {
      font-size: 14px;
    }
  }
}
