body {
  font-family: "Pretendard-Regular", "Noto Sans KR", "맑은 고딕",
    "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
  background-color: #001446;
  word-break: keep-all;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background-color: #eee;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: #8da0b1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.wrap {
  position: relative;
  display: block;
}
.inner {
  position: relative;
  display: block;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}
.container {
  // padding-top: 80px;
  // position: relative;
  display: flex;
  max-width: 1180px;
  margin: 50px auto;
  background-color: #dbd6c9;
  border-radius: 15px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.main-contents {
  width: 85%;
}
a {
  color: #000;
  text-decoration: none;
}
h2 {
  padding: 30px 0;
  color: #222;
  font-size: 35px;
  font-weight: 600;
}
h3 {
  // padding: 30px 0;
  color: #222;
  font-size: 20px;
  font-weight: 600;
  // text-align: center;
}
h4 {
}
// 데스크탑
@media screen and (max-width: $desktop) {
  .container {
    margin: 50px 10px;
  }
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .container {
    margin: 0;
    border-radius: 0;
  }
  .main-contents {
    width: 100%;
  }
}
