body {
  font-family: "Pretendard-Regular",
    //  "Noto Sans KR", "맑은 고딕", "Apple SD Gothic Neo",
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #494645;
  // background-color: #001446;
  background-color: #666d50;
  word-break: keep-all;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background-color: #eee;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: #8da0b1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.wrap {
  position: relative;
  display: block;
}
.inner {
  position: relative;
  display: block;
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto;
}
.container {
  // padding-top: 80px;
  // position: relative;
  max-width: 1180px;
  margin: 50px auto;
  margin-bottom: 20px;
  // background-color: #faebd7;
  background-color: #f6f2f1;
  border-radius: 15px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  .main-container {
    display: flex;
  }
}
.main-contents {
  width: 85%;
  // height: 100%;
}
a {
  color: #494645;
  text-decoration: none;
}
h2 {
  padding: 30px 0;
  color: #e86b51;
  // text-shadow: 2px 2px 0px #bdbdbd;
  font-family: "DungGeunMo";
  font-size: 45px;
  font-weight: 500;
  letter-spacing: -2px;
  text-transform: uppercase;
}
h3 {
  // padding: 30px 0;
  font-size: 20px;
  font-weight: 600;
  // text-align: center;
}
h4 {
}
// 데스크탑
@media screen and (max-width: $desktop) {
  .container {
    margin: 50px 10px;
  }
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .container {
    margin: 0;
    border-radius: 0;
  }
  .main-contents {
    width: 100%;
  }
}
