.mobile {
  // &.active {
  //   left: 0 !important;
  // }
  // position: fixed;
  // left: 100%;
  // top: 80px;
  // width: 80%;
  // height: 50vh;
  z-index: 9999;
  .mobile-menu {
    width: 230px;
    // padding-top: 80px;
    li {
      padding: 25px;
      // border-bottom: 1px solid #ccc8c7;
      cursor: pointer;
      span {
        color: #666d50;
        font-family: "DungGeunMo";
        font-size: 24px;
        text-transform: uppercase;
      }
      &:hover span {
        color: #e86b51;
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  //   .mobile {
  //     left: 0;
  //   }
}
