.mobile {
  // &.active {
  //   left: 0 !important;
  // }
  // position: fixed;
  // left: 100%;
  // top: 80px;
  // width: 80%;
  // height: 50vh;
  z-index: 9999;
  .mobile-menu {
    width: 40vh;
    // padding-top: 80px;
    li {
      padding: 30px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      span {
        font-size: 20px;
      }
      &:hover span {
        color: #8c0000;
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  //   .mobile {
  //     left: 0;
  //   }
}
