.portfolio {
  margin: 50px 0;
  .inner {
    .contents {
      .portfolio-team-box {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .portfolio-team {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          // width: calc(50% - 10px);
          width: 100%;
          justify-content: space-around;
          margin-bottom: 75px;
          .portfolio-img {
            display: block;
            text-align: center;
            width: calc(45% - 10px);
            a {
              display: block;
              img {
                width: 100%;
              }
            }
          }
          .portfolio-txt {
            width: calc(45% - 10px);
            .pf-txt {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .pf-title {
                font-size: 25px;
                color: #4c4637;
              }
              .pf-date {
                font-size: 14px;
                color: #666;
              }
              .pf-skill {
                color: #be5846;
                font-weight: 600;
              }
              .pf-notion {
                font-weight: 600;
                a {
                  img {
                    width: 2rem;
                  }
                }
              }
            }
            .pf-memo {
              margin: 10px 0;
              font-weight: 600;
            }
            .pf-detail {
            }
          }
        }
      }
      .portfolio-box {
        .portfolio-slide {
          a {
            display: block;
            width: 100%;
            text-align: center;
            img {
              width: 100%;
            }
          }
          .swiper-button-next,
          .swiper-button-prev {
            color: #fff !important;
          }
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .portfolio-team {
    gap: 20px;
    .portfolio-img {
      width: 100% !important;
    }
    .portfolio-txt {
      width: 100% !important;
    }
  }
}
