.portfolio {
  .inner {
    .contents {
      .portfolio-team-box {
        display: flex;
        flex-wrap: wrap;
        .portfolio-team {
          display: flex;
          flex-wrap: wrap;
          width: calc(50% - 10px);
          justify-content: space-between;
          margin-bottom: 20px;
          .portfolio-img {
            text-align: center;
            a {
              display: block;
              img {
                width: 90%;
              }
            }
          }
          .portfolio-txt {
            width: calc(45% - 10px);
          }
        }
      }
      .portfolio-box {
        .portfolio-slide {
          a {
            display: block;
            width: 100%;
            text-align: center;
            img {
              width: 100%;
            }
          }
          .swiper-button-next,
          .swiper-button-prev {
            color: #fff !important;
          }
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .portfolio-team {
    width: 100% !important;
  }
}
