.profile {
  margin-bottom: 50px;
  .inner {
    .about {
      display: flex;
      justify-content: space-around;
      .about-left {
        width: calc(30% - 10px);
        border-radius: 2rem;
        background: linear-gradient(45deg, transparent, #4c4637, transparent);
        display: flex;
        place-items: center;
        img {
          // width: 70%;
          // aspect-ratio: 1/1;
          border: 2px solid #4c4637;
          border-radius: 2rem;
          overflow: hidden;
          transform: rotate(10deg);
          transition: 500ms;
          &:hover {
            transform: rotate(0);
          }
        }
      }
      .about-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(55% - 10px);
        .color {
          color: #e86b51;
        }
        .about-title {
          margin-bottom: 5px;
          color: #494645;
          text-shadow: 1px 1px 0px #bdbdbd;
          font-size: 25px;
          font-weight: 600;
          .about-top {
            display: flex;
            align-items: flex-end;
            gap: 20px;
          }
          img {
            width: 50px;
            height: 50px;
          }
        }
        .about-detail {
          font-size: 19px;
          text-align: justify;
        }
      }
    }
    .skills {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 50px;
      .accordion {
        width: 80%;
        background: transparent;
        // border: 1px solid rgba(0, 0, 0, 0.03);
        box-shadow: none;
        &:not(:last-child) {
          border-bottom: 0;
        }
        &:before {
          display: none;
        }
        .accordion-title {
          border-bottom: 2px solid #2f4858;
          font-size: 17px;
          font-weight: 600;
          .skills-title {
            width: 33%;
            flex-shrink: 0;
            color: #e86b51;
          }
          .skills-list {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            width: 100%;
            margin-right: 10px;
          }
        }
        .accordion-detail {
          font-size: 17px;
          > p {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .profile {
    .about {
      flex-wrap: wrap;
      gap: 30px;
      .about-left {
        width: 50% !important;
      }
      .about-right {
        width: 90% !important;
        .about-title {
          font-size: 20px !important;
          font-weight: 600;
          img {
            width: 35px !important;
            height: 35px !important;
          }
        }
        .about-detail {
          font-size: 15px !important;
          text-align: initial !important;
        }
      }
    }
    .skills {
      .accordion {
        width: 90% !important;
        .accordion-title {
          font-size: 15px !important;
          .skills-list {
            flex-wrap: wrap;
            gap: 5px !important;
          }
        }
        .accordion-detail {
          font-size: 15px !important;
        }
      }
    }
  }
}
