.profile {
  .inner {
    display: flex;
    .about-left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      img {
        width: 70%;
        border-radius: 50%;
      }
    }
    .about-right {
      width: 100%;
      .contents {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .profile-box {
          width: calc(50% - 10px);
          text-align: center;
          img {
            width: 95%;
          }
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .profile .contents {
    flex-wrap: wrap !important;
    .profile-box {
      width: 100% !important;
    }
  }
}
