.visual {
  height: calc(100vh - 80px);
  min-height: 650px;
  .inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
      width: 30%;
    }
    .title {
      text-align: center;
      .title-main {
        font-size: 100px;
        font-weight: 600;
        > span {
          color: #8c0000;
        }
      }
      .title-sub {
        font-size: 20px;
      }
    }
  }
}
