.visual {
  height: calc(100vh - 80px);
  min-height: 650px;
  .inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
      width: 30%;
    }
    .title {
      text-align: center;
      .title-main {
        font-size: 110px;
        // font-weight: 600;
        text-shadow: 4px 4px 0px #bdbdbd;
        .title-point {
          color: #e86b51;
        }
      }
      .title-sub {
        font-size: 24px;
      }
    }
    .title-scroll {
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translate(-50%, 0);
      text-align: center;
      transition: all 0.5s;
      .icon-scroll {
        animation: up-down 0.4s infinite ease-in-out alternate;
        margin-top: 0;
        @keyframes up-down {
          from {
            transform: translatey(0px);
          }
          to {
            transform: translatey(5px);
          }
        }
      }
    }
  }
}
// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .title-main {
    font-size: 80px !important;
  }
  .title-sub {
    font-size: 24px;
  }
  .title-scroll {
    bottom: 15px !important;
  }
}
